:root {
  /*now used color*/
  --primary: #3692ff;
  --banner-background: #cfe5ff;
  --banner-login: #e6f2ff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-400: #9ca3af;

  /*for later use*/
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}
