@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pretendard, sans-serif;
}

@font-face {
  font-family: "ROKAF_Sans";
  src: url("../fonts/ROKAF_Sans_Bold.otf.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
