@import "global.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 231px auto;
  gap: 40px;
}

.login-logo-image {
  width: 103px;
  height: 103px;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.home-anchor {
  font-family: "ROKAF_Sans";
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  color: #3692ff;
  text-decoration: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.input-box {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.label-text {
  max-width: 98px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.input-wrapper {
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  padding: 15px 24px;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  flex: 1;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}

.input-wrapper:has(input:focus) {
  border: 3px solid #3692ff;
}

.error {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #f74747;
  margin-left: 16px;
}

button {
  width: 640px;
  border: none;
  background-color: #3692ff;
  border-radius: 40px;
  padding: 12px 0;
  cursor: pointer;
}
.btn-text {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #f3f4f6;
}
button.disabled {
  background-color: #9ca3af;
  pointer-events: none;
}

.sns-login-box {
  display: flex;
  width: 640px;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f2ff;
  padding: 16px 23px;
}
.sns-login-text {
  color: #1f2937;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.sns-login-list {
  display: flex;
  gap: 16px;
}

.sing-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.sign-up-description {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}

.sign-up-anchor {
  color: #3692ff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-align: left;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 400px;
  }
  .login-logo-image {
    width: 52px;
    height: 52px;
  }
  .home-anchor {
    font-size: 33px;
    line-height: 45px;
  }
  .login-form,
  .input-wrapper,
  .input-box,
  button,
  .sns-login-box {
    width: 100%;
  }
}
