@import "global.css";

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

.lg-text {
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
.md-text {
  color: #374151;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.sm-text {
  color: #3692ff;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.logo-wrapper {
  display: flex;
  gap: 9px;
  align-items: center;
}
.home-anchor {
  color: #3692ff;
  font-family: ROKAF Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
}
.login-anchor {
  color: #f3f4f6;
  background-color: #3692ff;
  padding: 11px 43px;
  border-radius: 8px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.landing {
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.items-anchor {
  padding: 16px 124px;
  background-color: #3692ff;
  border-radius: 40px;
  color: #f9fafb;
  margin-bottom: 60px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 276px;
  padding: 138px 0;
}
.card {
  display: flex;
  width: 988px;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: #fcfcfc;
}
.content {
  display: flex;
  flex-direction: column;
}
.content h2 {
  margin-bottom: 12px;
}
.content h4 {
  margin-bottom: 24px;
}
.content.left {
  text-align: right;
}
.footer-bg {
  background-color: #111827;
  height: 160px;
  padding-top: 32px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 367px;
  margin: 0 auto;
}
.copyright {
  color: #9ca3af;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.anchor-wrapper {
  display: flex;
  gap: 30px;
}
.privacy-anchor,
.faq-anchor {
  color: #e5e7eb;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.sns-anchor-list {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 1920px) {
  nav {
    padding: 10px 400px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  nav {
    padding: 10px 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 10px 24px;
  }
  .landing {
    height: 771px;
  }
  .landing-description {
    display: flex;
    gap: 10px;
  }

  .container {
    flex-direction: column;
    gap: 211px;
  }
  .items-anchor {
    margin: 0;
    width: 357px;
    margin: 0 auto;
  }
  .card-container {
    padding: 24px 0 56px;
    gap: 52px;
  }
  .card {
    flex-direction: column;
    align-items: center;
    width: 696px;
    gap: 24px;
  }
  .card-img {
    width: 100%;
    height: 524px;
  }
  .content {
    width: 100%;
    align-self: flex-start;
  }
  .description {
    display: flex;
    gap: 10px;
  }
  .content.left {
    order: 2;
    text-align: left;
  }
  .landing.bottom {
    height: 927px;
  }
  .landing-description.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .landing-img {
    width: 100%;
    height: 397px;
  }
  .footer-wrapper {
    gap: 72px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  nav {
    padding: 10px 16px;
  }
}
