main {
    display: flex;
    margin: 10rem 0;
    justify-content: center;
    align-items: center;
}

.container {
    width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

#logoBtn {
    width: 39.6rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--gray800);
    position: relative;
}

input {
    width: 100%;
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    background-color:  var(--gray100);
    border: none;
    margin-top: 1.2rem;
}

.toggle-password {
    position: absolute;
    top: 4.9rem;
    right: 2rem;
    background: none;
}

.toggle-password:hover {
    background: none;
}
  
.toggle-password:focus {
    background: none;
}

input:focus {
    outline-color: var(--blue);
}

input::placeholder {
    color: var(--gray400);
}

#loginButton {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 4rem;
    padding: 1.6rem 12.4rem;
}

.social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.6rem 2.3rem;
    border-radius: 0.8rem;
    background-color: #E6F2FF;
    color: var(--gray800);
    font-weight: 500;
}

#accountLogin {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.6rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#google {
    background-color: #FFFFFF;
    outline: 0.1rem solid var(--gray50) ;
    padding: 0.8rem;
    border-radius: 999rem;
}

#kakao {
    background-color: #F5E14B;
    outline: 0.1rem solid var(--gray50) ;
    padding: 0.8rem;
    border-radius: 999rem;
}

.signup {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--gray900);
}

#signupLink {
    color: var(--blue);
    text-decoration: underline;
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
    main {
        margin: 10rem 1.6rem;
    }

    .container {
        max-width: 40rem;
    }

    label {
        font-size: 1.4rem;
    }
    
    #logoBtn {
        width: 19.8rem;
    }
}