html {
  font-size: clamp(14px, 1.2vw, 18px);
}

body {
  margin: 0 auto;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  width: calc(100% - clamp(100px, 20vw, 400px));
  padding: 9.5px clamp(50px, 10vw, 200px);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8.59px;
  width: clamp(30px, 2vw, 40px);
  height: clamp(30px, 2vw, 40px);
}

.logo-text {
  font-size: clamp(16px, 1.5vw, 26px);
  font-weight: 700;
  font-family: 'ROKAF Sans';
  line-height: 1.4;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  color: #F3F4F6;
  background-color: #3692FF;
}

button:hover {
  background-color: #1967D6;
}

button:active {
  background-color: #1251AA;
}

.login-button {
  padding: clamp(8px, 1.2vw, 12px) clamp(16px, 2vw, 23px);
  width: clamp(100px, 7vw, 128px);
  height: clamp(40px, 3vw, 48px);
  border-radius: 8px;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  line-height: 1.6;
}

.landing-section {
  display: flex;
  justify-content: center;
  align-items: end;
  height: clamp(400px, 50vh, 540px);
  background-color: #CFE5FF;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-message-container {
  display: flex;
  flex-direction: column;
  width: clamp(280px, 20vw, 357px);
  height: auto;
}

.section-title {
  margin-bottom: clamp(24px, 2vw, 32px);
  font-size: clamp(28px, 3vw, 40px);
  font-weight: 700;
  line-height: clamp(36px, 4vw, 56px);
  color: #374151;
}

.explore-button-link {
  margin-bottom: clamp(40px, 3vw, 60px);
}

.explore-button {
  padding: clamp(8px, 1.5vw, 12px) 0;
  width: 100%;
  border-radius: 40px;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  line-height: 1.6;
}

.section-container {
  margin: clamp(80px, 10vw, 138px) 0;
}

.section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: clamp(600px, 80vw, 988px);
  border-radius: 12px;
  overflow: hidden;
  background-color: #FCFCFC;
}

.search-section {
  flex-direction: row-reverse;
}

.register-section img,
.hot-item-section img {
  width: clamp(400px, 50vw, 588px);
}

.hot-item-message-container,
.register-section .message-container {
  margin-left: clamp(32px, 5vw, 64px);
}

.search-section .message-container {
  margin-right: clamp(32px, 5vw, 64px);
  text-align: right;
}

.label {
  display: inline-block;
  margin-bottom: clamp(8px, 1vw, 12px);
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 700;
  line-height: 1.4;
  color: #3692FF;
}

.section-message {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 500;
  line-height: clamp(24px, 2.5vw, 32px);
}

.bottom-landing-section {
  padding-top: clamp(80px, 8vw, 138px);
  background-color: #FCFCFC;
}

.bottom-landing-section .landing-message-container {
  height: auto;
}

.bottom-landing-section .section-title {
  margin-bottom: clamp(40px, 3vw, 60px);
}

footer {
  display: flex;
  justify-content: center;
  padding-top: clamp(24px, 3vw, 32.5px);
  height: clamp(120px, 15vh, 160px);
  background-color: #111827;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  height: fit-content;
}

.copy-right {
  color: #9CA3AF;
}

.term {
  display: flex;
  gap: 30px;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  line-height: 1.4;
  color: #E5E7EB;
}

.term a {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: #E5E7EB;
}

.SNS-container {
  display: flex;
  gap: 12px;
}

.SNS-container img {
  width: clamp(16px, 1.5vw, 20px);
  height: clamp(16px, 1.5vw, 20px);
}