.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 9.5px 200px;
  max-width: 1920px;
  width: calc(100% - 400px);
  position: fixed;
  top: 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8.59px;
  width: 40px;
  height: 40px;
}

.button {
  cursor: pointer;
  border: 0;
  outline: none;
}

button:hover {
  background-color: #1967D6;
}

button:active {
  background-color: #1251AA;
}

.login-button {
  padding: 11px 43px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}

.main-container {
  padding-top: 70px;
}

.landing-section {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 540px;
  background-color: #CFE5FF;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-message-container {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: auto;
}

.section-title {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.explore-button {
  margin-bottom: 60px;
  padding: 12px 0;
  width: 100%;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}

.section {
  display: flex;
  align-items: center;
  margin: 138px auto;
  width: 988px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #FCFCFC;
}

.search-section {
  flex-direction: row-reverse;
}

.register-section img,
.hot-item-section img {
  width: 588px;
}

.hot-item-message-container,
.register-section .message-container {
  margin-left: 64px;
}

.search-section .message-container {
  margin-right: 64px;
  text-align: right;
}

.label {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.section-message {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  white-space: nowrap;
}

.bottom-landing-section {
  padding-top: 138px;
  background-color: #FCFCFC;
}

.bottom-landing-section .landing-message-container {
  height: auto;
}

.bottom-landing-section .section-title {
  margin-bottom: 60px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  height: 160px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32.5px 0;
  max-width: 1120px;
  width: 100%;
  height: fit-content;
}

.term {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.term a {
  font-size: 16px;
  font-weight: 400;
}

.SNS-container {
  display: flex;
  gap: 12px;
  margin: 0;
  list-style: none;
}

.SNS-container img {
  width: 20px;
  height: 20px;
}


/* tablet 사이즈 */
@media only screen and (max-width: 1199px) {
  .header-nav {
    padding: 10px 24px;
    width: calc(100% - 48px);
  }
  .landing-section {
    height: auto;
  }
  .landing-content {
    flex-direction: column;
  }
  .top-landing-message-container {
    align-items: center;
    margin: 84px 0 211px 0;
    width: auto;
  }
  .top-landing-message-container .mobile-hide {
    display: none;
  }
  .explore-button {
    width: 357px;
  }


  .first-container .section {
    margin: 24px 0;
  }
  .section-container {
    padding: 0 24px;
  }
  .section {
    flex-direction: column;
    width: 100%;
    margin: 52px 0;
    background-color: transparent;
  }
  .section img {
    width: 100%;
    border-radius: 14px;
  }
  .section .section-title .mobile-hide {
    display: none;
  }
  .message-container {
    margin: 24px 0 0 0;
    width: 100%;
  }
  .message-container .section-title {
    font-size: 32px;
    line-height: 42px;
  }
  .message-container .section-message {
    font-size: 18px;
    line-height: 26px;
  }
  .hot-item-message-container,
  .register-section .message-container {
    margin-left: 0;
  }
  .search-section .message-container {
    margin-right: 0;
  }

  .bottom-landing-section {
    padding-top: 0;
  }

  .bottom-landing-section .section-title {
    margin: 201px 0 207px 0;
    text-align: center;
  }
  .footer-container {
    padding: 32.5px 104px;
  }
}

/* mobile 사이즈 */
@media only screen and (max-width: 767px) {
  .header-nav {
    padding: 10px 16px;
    width: calc(100% - 32px);
  }
  .landing-content img {
    width: 100%;
  }
  .landing-content .section-title {
    text-align: center;
  }
  .landing-content .mobile-hide {
    display: inline;
  }
  .explore-button {
    width: 240px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .message-container .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .message-container .section-message {
    font-size: 16px;
  }
  .first-container .section {
    margin: 52px 0;
  }
  .section-container {
    padding: 0 16px;
  }
  .section {
    margin: 40px 0;
  }
  .bottom-landing-section .section-title {
    margin: 121px 0 131px 0;
    font-size: 32px;
    line-height: 44.8px;
  }
  .footer-container {
    flex-wrap: wrap;
    padding: 32px;
  }
}