body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  width: 640px;
}

form button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.sns-login {
  padding: 16px 0;
  margin: 24px 0;
  background-color: #e6f2ff;
}

label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

input {
  height: 54px;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
}

input {
  margin: 16px 0;
  outline-color: #3692ff;
}

button {
  margin: 24px 0 0 0;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  background-color: #9ca3af;
  color: white;
}

.logo-container {
  text-align: center;
}

.sns-login {
  height: 74px;
  display: flex;
  justify-content: space-between;
  padding: 16px 23px;
}

.sns-login__text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.sns-login__logo {
  display: flex;
  gap: 10px;
}

.sns-login__logo img {
  cursor: pointer;
}

.signup-link {
  color: #3692ff;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  cursor: pointer;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.signup-section__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
