body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Pretendard Variable", sans-serif;
}

.login-container {
  width: 640px;
  height: 618px;
  padding: 20px;
  box-sizing: border-box;
}

.logo-image {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.logo-image img {
  max-width: 400px;
}

.input-label {
  display: block;
  margin: 8px 0;
  font-weight: 700;
  font-size: 18px;
  color: #1f2937;
}

.input-field {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin: 16px 0 24px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #f3f4f6;
}

.login-button {
  width: 100%;
  height: 48px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}

.social-login {
  width: 100%;
  padding: 0;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.social-login p {
  margin: 16px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #1f2937;
}
.input-field:focus {
  outline: none;
  border: 1px solid #3692ff;
}

.social-icons {
  margin: 15px 15px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.signup-link {
  margin-top: 15px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.logo-image {
  margin-top: 40px;
}
