@import "./color.css";

.gray900 {
  background-color: #111827;
}

.text-gray900 {
  color: var(--gray-900);
}

.gray800 {
  background-color: #1F2937;
}

.text-gray800 {
  color: var(--gray-800);
}

.gray700 {
  background-color: #374151; 
}

.text-gray700 {
  color: var(--gray-700);
}

.gray600 {
  background-color: #4B5563;
}

.text-gray600 {
  color: var(--gray-600);
}

.gray500 {
  background-color: #6B7280;
}

.text-gray500 {
  color: var(--gray-500);
}

.gray400 {
  background-color: #9CA3AF;
}

.text-gray400 {
  color: var(--gray-400);
}

.gray200 {
  background-color: #E5E7EB;
}

.text-gray200 {
  color: var(--gray-200);
}

.gray100 {
  background-color: #F3F4F6;
}

.text-gray100 {
  color: var(--gray-100);
}

.gray50 {
  background-color: #F9FAFB;
}

.text-gray50 {
  color: var(--gray-50);
}

.blue {
  background-color: #3692FF;
}

.text-blue {
  color: var(--blue);
}