* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
  max-width: 1120px; /* 1920 - 400*2 */
  margin: 0 auto;
}

footer {
  background-color: #111827;
  width: 100%; /* 화면 전체 너비*/
  height: auto;
  padding: 32px 400px 32px 400px;
  gap: 10px;
  color: white;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 제한 */
  height: auto; /* 이미지의 비율 유지 */
  display: block; /* inline-block 속성 제거 */
  object-fit: cover;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* 로그인 버튼*/
.login-btn {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  gap: 10px;
  border-radius: 8px;
  background-color: #3692ff;
  border: none;
  color: white;
}

/* Banner */
.section1,
.section5 {
  background-color: #cfe5ff;
  width: 100%; /* 뷰포트값이 달라져도 너비 전체를 차지 */
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}

/* Banner container*/
.container {
  max-width: 1120px; /* 컨테이너 안 요소들 최대 너비 */
  width: 100%; /* 1120px 보다 작아지면 100% 로 축소됨 */
  margin: 0 auto; /* 가로축 가운데에 정렬 */
  display: flex;
  align-items: flex-end; /* 수직 축에서 아래쪽 정렬 */
}

/* Banner text-box */
.text-box {
  max-width: 100%; /* 부모 컨테이너를 초과하지 않음 */
  max-height: 260px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* 구경하러 가기 버튼*/
.btn-large {
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  gap: 10px;
  border-radius: 40px;
  opacity: 0px;
  background-color: #3692ff;
  color: white;
  border: none;
}

/* 전체 섹션*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px;
}

section article {
  width: 988px;
  height: 444px;
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Banner 을 제외한 섹션 */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #3692ff;
  margin-bottom: 10px;
}

span {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 20px;
}

/* Banner : Section 5 */
.section5 .container {
  gap: 30px;
}

.section5 img {
  max-width: 746px;
  max-height: 397px;
  gap: 0px;
  opacity: 0px;
}

.section5 .text-box {
  padding-bottom: 60px;
}

/* footer */
.footer {
  padding: 32px 400px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 30px;
}
.footer-sns {
  display: flex;
  gap: 12px;
}

.footer-sns i {
  cursor: pointer;
  color: white;
}
