@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: inherit; /* 부모 요소의 텍스트 색상 속성값 사용  */
}

/* <header>와 그 하위 태그 스타일 속성 정의 */
header {
  background-color: #ffffff;
  border-bottom: solid 1px #dfdfdf;
}

.header-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1980px; /* 최대 너비 설정 */
  gap: 20px;
  padding: 0 200px; /* 좌우 여백 200px 유지 */
  margin: 0 auto;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #ffffff;
  font-weight: 600;
  background-color: #3692ff;
  height: 48px;
  width: 128px;
  border-radius: 8px;
  cursor: pointer;
}

/* <main> 하위 태그 스타일 속성 정의 */
/* hero section과 last section */
.hero-last-section {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #cfe5ff;
  height: 540px;
}

.hero-last-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1980px;
  margin: 0 auto;
}

.button-items {
  color: #ffffff;
  background-color: #3692ff;
  border-radius: 40px;
  padding: 1rem 7.75rem;
  cursor: pointer;
  white-space: nowrap;
}

/* features section */
.features-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 138px;
  padding-top: 138px;
  padding-bottom: 276px;
}

.feature-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fcfcfc;
  gap: 1rem;
  padding: 0 1rem;
}

.last-section {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #cfe5ff;
  height: 540px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.feature-content-title {
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;
}

.feature-content-tag {
  font-size: 1.125rem;
  font-weight: 700;
  color: #3692ff;
}

.feature-content-text {
  font-size: 1.5rem;
}

/* <footer>와 그 하위 태그 스타일 속성 정의 */
footer {
  font-weight: 400;
  color: #9ca3af;
  background-color: #111827;
  height: 160px;
  padding-top: 40px;
}

.footer-links {
  display: flex;
  gap: 0 30px;
  font-weight: 400;
}

.footer-social {
  display: flex;
  gap: 0 12px;
}

/* 뷰포트에 따라 이미지 크기 조정*/
.hero-last-section-image {
  width: 40vw;
  min-width: 600px;
  max-width: 1000px;
}

.feature-image {
  width: 30vw;
  min-width: 450px;
  max-width: 800px;
}

/* Tablet, Mobile 기기에 따라 폰트 크기 조정*/
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
