* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

@media (max-width: 1920px) {
  header {
    padding: 9px 200px;
  }
}

html,
body {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px #dfdfdf;
  padding: 9px 400px;
}

a {
  cursor: pointer;
  color: #e5e7eb;
  text-decoration-line: none;
}

main {
  background-color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
}

p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #374151;
  margin-top: 24px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 988px;
  height: 444px;
  margin: 138px auto;
  gap: 64px;
  border-radius: 12px;
  background-color: #fcfcfc;
}

.header_logo {
  width: 153px;
  height: 51px;
}

.login_btn {
  width: 128px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  padding: 12px 23px;
  gap: 10px;
  background-color: #3692ff;
  color: #ffffff;
}

.top_banner {
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
  background-color: #cfe5ff;
}

.panda_market_contents {
  padding-bottom: 100px;
}

.main_top_image {
  width: 746px;
  height: 340px;
}

.items_btn {
  display: flex;
  border-radius: 40px;
  padding: 16px 124px;
  margin-top: 32px;
  gap: 10px;
  background-color: #3692ff;
  color: #f9fafb;
  font-weight: 600;
  font-size: 20px;
}

.image {
  width: 588px;
  height: 100%;
  background-color: #f3f4f6;
}

.contents {
  height: 238px;
  margin-bottom: 12px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3692ff;
}

#hot_item_content {
  width: 274px;
  height: 200px;
}

#search_contents {
  text-align: right;
}

#search_content {
  width: 293px;
  height: 200px;
}

#register_content {
  width: 337px;
  height: 200px;
}

.bottom_banner {
  display: flex;
  align-items: flex-end;
  height: 540px;
  background-color: #cfe5ff;
}

#bottom_title {
  margin-bottom: 172px;
}

.bottom_image {
  width: 746px;
  height: 397px;
  margin-left: 69px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  height: 160px;
  background-color: #111827;
  padding: 32px 400px;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
}

#footer_text {
  color: #9ca3af;
}

.footer_content {
  display: flex;
  gap: 30px;
}

.footer_icon {
  display: flex;
  width: 116px;
  gap: 12px;
}
