@import "../global.css";
@import "../reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
  margin: 0 auto;
  width: 600px;
}

.buttom-home {
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5rem;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

.form-field-label {
  font-weight: 700;
  font-size: 1.125rem;
}

.form-field-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray100);
  border-radius: 12px;
  height: 3.5rem;
  padding: 1rem 1.5rem;
}

.form-field-input {
  color: var(--gray800);
  font-weight: 400;
  background-color: var(--gray100);
  width: 100%;
}

.form-field-input::placeholder {
  color: var(--gray400);
}

.input-visibility-button {
  background-color: inherit;
  cursor: pointer;
}

.form-buttom-submit {
  color: var(--gray100);
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--gray400);
  border-radius: 2.5rem;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
}

.social-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  width: 100%;
  padding: 1rem 2.5rem;
}

.social-login-container > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.helper-text {
  font-size: 0.875rem;
}

a.helper-text-link {
  color: var(--blue100);
  text-decoration: underline;
}
