@import "../global.css";
@import "../reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.social-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-login-container > ul {
  display: flex;
}
