body {
    font-family: 'Pretendard', Arial, sans-serif;
}

.primary-button {
    cursor: pointer;
    color: #F3F4F6;
    background-color: #3692FF;
    text-align: center;
}

.primary-button:disabled {
    background-color: #9CA3AF;
    opacity: 0.5;
}