@import "tailwindcss";

@layer base {
  :root {
    font-family: "Pretendard", sans-serif;
  }
}

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  /* --color-gray-300: ; */
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue-50: #e3f2ff;
  --color-blue-100: #b3d9ff;
  --color-blue-200: #80bfff;
  --color-blue-300: #4da6ff;
  --color-blue-400: #1a8cff;
  --color-blue-500: #3692ff;
  --color-blue-600: #2e7cd1;
  --color-blue-700: #2663a3;
  --color-blue-800: #1f4b75;
  --color-blue-900: #173347;

  --color-red: #f74747;

  --color-white: #ffffff;

  --color-black: #000000;
}
